
/* généralité */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
}

.flex{
    display: flex;
    justify-content: space-between;
}

body{
    padding: 5%;
}

h3,span{
    text-decoration: underline red;
}

li{
    list-style-type:none;
    margin: 10px;
}

/* header */

header{
    padding: 3px;
}

h1{
    background-color: black;
    color: white;
    padding: 10px;
}

/* Présentation */

.pres{
    padding: 20px 0;
}

/* Compétence */

img{
    margin: 10px 0;
    width: 100%;
}

/* formation */

.preci{
    padding-left: 20px;
}